* {
    font-family: "Montserrat", sans-serif;
}
header {
    background-color: #D8E2DC;
}
#app {
    color: #F4ACB7;
}
.boton-cv {
    background-color:#9D8189;
    color: #D8E2DC;
}
.caja-habilidades {
    background-color: #F4ACB7;
    color: #003049;
}
.btn-proyecto {
    background-color: #FFCAD4;   
}
.btn-proyecto a {
    text-decoration: none;
    color: #003049;
}
#contacto {
    background-color: #9D8189;
}
#contacto h1{
    color: #003049;
}
#btn-contacto{
    background-color: #d8e2dc;
    color: #003049;
    border-color: #d8e2dc;
}
#btnc-contacto{
    background-color: #8d99ae;
}